
@font-face {
  font-family: ´fuente-título´;
  src:url(fuentes/KGWhatATime.ttf);
}

#mi-fuente {
  font-family: ´fuente-título´;
  font-size: 60px;
  color: #FEFAE0;
}

@font-face {
  font-family: ´fuente-parrafo´;
  src:url(fuentes/RoughOwl-Regular.ttf);
}

#mi-fuente-parrafo {
  font-family: ´fuente-parrafo´;
  font-size: 23px;
  color: #BC6C25;
}

@font-face {
  font-family: ´fuente-link´;
  src: url(fuentes/RoughOwl-Regular.ttf);
}

#mi-fuente-link {
  font-family: ´fuente-link´;
  font-size: 23px;
  color: #8FA253;
}

body {
  background-image:url(.../imagenes/verduras.jpg);
  background-size: 100%;
}
